#rooster{
    height:500px;
    width:1300px;
    margin-left:15%;
    margin-top:50px;
}

#rooster h2{
    text-align:center;
}

#rooster input{
    margin-top:10px;
}

#app-calendar{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height:100%;
}

.day{
    border: 1px solid var(--light-gray);
    text-align: center;
    padding-top:5px;
    font-size:12px;
    cursor:pointer;
    transition: background-color 200ms, color 200ms;
}

.name{
    padding-bottom: 5px;
}

.weekend{
    color:var(--grey-blue);
}

.selected{
    background-color:var(--light-blue);
    color:white
}

.nonselected{
    background-color:var(--light-gray);
    color:white
}

#butPrev{
    float:left;
}

#butNext{
    float:right;
}