:root{
    --light-gray:#DADCE0;
    --light-blue:rgb(192, 228, 248);
    --nice-blue:rgb(80, 163, 207);
    --grey-blue:rgb(80, 100, 112);
}

body{
    margin:0;
    font: 14px Arial, Helvetica, sans-serif;
}

legend{
    font-size:20px;
    margin-bottom:20px;
}

input{
    height:30px;
    width:270px;
}

input[type=button]{
    width:300px;
    height:50px;
    text-transform:capitalize;
    background-color:var(--light-blue);
    border:var(--grey-blue) solid 1px;
}

input:hover[type=button]{
    background-color:var(--nice-blue);
    color:white;
    border:var(--light-blue) solid 3px;
    cursor:pointer;
}

input:active[type=button]{
    background-color:var(--nice-blue);
    color:white;
    border:var(--light-blue) solid 3px;
    cursor:pointer;
}