:root {
  --light-gray: #dadce0;
  --gray: rgb(245, 245, 245);
  --light-blue: rgb(192, 228, 248);
  --nice-blue: rgb(80, 163, 207);
  --grey-blue: rgb(80, 100, 112);
}

body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

header{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #333;
  color: white;
}

#welcomeUser{
  display: block;
  padding: 14px 16px;
  text-align: center;
}

a{
  text-decoration: none;
  color:white;
}

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  cursor: pointer;
  background-color: rgb(80, 100, 112);
}

legend {
  font-size: 20px;
  margin-bottom: 20px;
}

input {
  height: 30px;
  width: 270px;
}

input[type="button"] {
  width: 300px;
  height: 50px;
  text-transform: capitalize;
  background-color: #333;
  border: var(--grey-blue) solid 1px;
  color: white;
  font-size: 20px;
}

input:hover[type="button"] {
  background-color: rgb(103, 120, 129);
  color: white;
  cursor: pointer;
}
